body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: #303942;
}

h1 {
    font-size: 18px;
    font-weight: normal;
}

div.label {
    margin-top: 19px;
    font-size: 14px;
}

div.settingLine {
    margin-top: 7px;
    margin-left: 18px;
    font-size: 12px;
}

input {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 12px;
}

#email {
    width: 20em
}
